span.alf-ico {
	display: inline-block;
	background-image: url('/cmis_web_alf/static/src/images/alfresco-logo-16.png');	
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: center;
	width:  13px;
	height: 13px;
}

span.o_sidebar_alfresco_attachment {
	padding: 0px;
	position: absolute;
	top: 5px;
	right: 10px;
}

li.o_sidebar_alf_root_attachment span{
	padding: 3px 25px;
	color: #21b799;
}
/*li.o_sidebar_alf_root_attachment {
}
li.o_sidebar_alf_root_attachment :hover {
	background-color: rgb(245,245,245);
}*/